<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <header>
        <img src="https://t4.ftcdn.net/jpg/03/20/49/25/360_F_320492530_2aeFG0eKU03OM20OD4eLzRte0K6xpw9i.jpg" alt="" id="banner">
        <section class="header-text">
            <h1>Clases disponibles</h1>
        </section>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="../#title">Reservar</a></li>
                <li><a href="clases.html">Clases disponibles</a></li>
                <li><a href="../#benefits">Iniciar sesión</a></li>
                
            </ul>
        </nav>
    </header>
    <main>
        <table>
            <tr>
                <th>Clase</th>
                <th>Instructor</th>
                <th>Horario</th>
                <th>Disponibilidad</th>
            </tr>
            <tr>
                <td>Yoga</td>
                <td>Ana Gómez</td>
                <td>Lunes y Miércoles 7:00 PM - 8:00 PM</td>
                <td>Disponible- 1 cupo</td>
            </tr>
            <tr>
                <td>Pilates</td>
                <td>Carlos Martínez</td>
                <td>Martes y Jueves 6:00 PM - 7:00 PM</td>
                <td>Disponible- 2 cupos</td>
            </tr>
            <tr>
                <td>Spinning</td>
                <td>Laura Rodríguez</td>
                <td>Lunes, Miércoles y Viernes 5:00 PM - 6:00 PM</td>
                <td>No disponible</td>
            </tr>
        </table>
    </main>
    <footer>
        <p>&copy; 2024 Softgym. Todos los derechos reservados.</p>
    </footer>
</body>
</html>